*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
        width: 80%;
        margin: auto;

        
}
/* Navigation bar section  */
nav{
    align-items: center;
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    background-color: rgb(26, 23, 23);
    
}
.logo{
    text-align: left;
    margin-left: 20px;
    color: white;
    font-size: 30px;
}
.nav-links{
    text-align: center;
    flex: 1;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: white;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #ED661F;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.loginbtn{
    color: #fff;
    margin-right: 70px;
}
.getButton {
    padding: 12px;
    border: none;
    background-color:#ED661F;
    font-size: 16px;
    font-weight: 600 !important;
    cursor: pointer;
}
.getButton:hover {
    box-shadow: #a6b7c56b 6px 15px 16px 0px; 
}


/* page-one-text section */

.cover-page{
    width: 90%;
    background-image:url("/assets/images/image 1.png");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    margin: auto;
}
.page-one{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.column > h1{
        font-weight: 600;
        font-size: 36px;
        margin-top: 100px;
        margin-left: 20%;
       
    
}
.column > p{
    margin-top: 10px;
    margin-left: 15%;
    font-weight: 270;
} */
.page-btn{
    display: inline-block;
    text-decoration: none;
    color:black;
    border:1px solid whitesmoke;
    background: #ED661F;
    margin-top: 30px;
    margin-left: 15%;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}
.page-btn:hover{
    border: 1px solid #ED661F;
    background: #fff;
    transition: 1s;
}
.customer-data-section{
    width: 80%;
    background-color: #fff;
    justify-content: center;

}
.customer-data ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
#cover-image{
    width: 700px;
    height: 300px; 
    margin-top: 100px;
}
/* .img1 > img{
    width: inherit;
    height: inherit;
}
.img1{
    width: 550px;
    height: 400px; 
} */
/* page2-advert section-why we exist */
.page2{
    display: flex;
    width: 80%;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}
.page2-text > h1{
    font-size: 400;
}
.u{
    text-decoration: underline solid #ED661F;
    text-underline-offset: 3px;
}
.page2-text > p {
    font-size: 100;
    padding-top: 15px;
}
.img2 > img{
    width: inherit;
    height: inherit;
}
.img2{
    width: 600px;
    height: 450px;
}
/* -- Products category section-- */
.popular-products{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
#tag-title{
    text-align: left;
    font-size: 600;
}
/* #underlined{
    text-decoration: underline solid #ED661F;
    text-underline-offset: 2px; 
    text-align: left; */

.product-category > h1{
  font-weight: 600;
  font-size: 36px;
}
.product-on-sale{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.product-category > p{ 
    font-size: 16px;
    font-weight: 300px;
    padding: 8px;
}
.column{
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.product-on-sale > h2 {
    text-align: center;
    font-size: 100;
}

#image1{
    width: 270px;
    height: 270px;
}
#image2{
    width: 270px;
    height: 270px;
}
#image3{
    width: 270px;
    height: 270px;
}
#image4{
    width: 270px;
    height: 270px;
}
.newest-item{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
#newset{
    text-align: left;
}
#image5{
    width: 270px;
    height: 270px;
}
#image6{
    width: 270px;
    height: 270px;
}
#image7{
    width: 270px;
    height: 270px;
}
#image8{
    width: 270px;
    height: 270px;
}
/* Customer rating section */

.customer-rating{
    width: 80%;
    margin: auto;
    /* text-align: center; */
   
}
.customer-rating > h1{
    font-size: 600;
    margin-top: 15px ;
    margin-bottom: 20px;
    text-align: left;
}
.customer-rating-section{
    /* align-items: center; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.column2{
    margin-bottom: 10px;
    background: #fff3f3;
    padding: 40px;
    cursor: pointer;
    margin-top: 80px;

} 
.column2 > p{
    text-align: center;
    font-size: 300;
    padding: 20;
}
/* .column2 img{
    height: auto;

} */
.column > h2{
    text-align: right;
}
/* .client{
    display: flex;
    padding: 10px;
    justify-content: space-between; */

/* 
.client > h2{
    font-size: 200;
    margin-top: 20px;
} */
.column2 .fa{
    color: #ED661F;

}
/* footer-contact section */
/* subscribe-section */
.subscribe-section{
    background: black;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}
.subscribe-header > h1{
    color: #fff;
    font-size: 30;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;

}
.subscribe-header > p{
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 30px;

}
.search{
    width: 200px;
    margin-left: 28%;
    text-align: center;
    display: flex;
}
.srch{
    width: 300px;
    height: 45px;
    background: #fff;
    border: 1px solid #fff3f3;
    /* margin-top: 10px; */
    font-size: 18px;
    /* float: left; */
    border-right: 0;
    
    
}
.sub-btn{
    width: 200px;
    height: 46px;
    background: #ED661F;
    border: 2px solid #ED661F;
    /* border-bottom: 2px solid #ED661F; */
    font-size: 22px;
    color: #fff;
    margin-bottom: 50px;
    cursor: pointer;

}
.sub-btn:hover{
    box-shadow: #a6b7c56b 6px 15px 16px 0px;

}
.footer-contact{
    background: black;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
.row3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: 16px;
}
.company-logo >h1{
    color: white;
    font-weight: 300;
    font-size: 36px;
    margin-left: 18px;
}
.company-logo > p{
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    margin-left: 18px;
}
.company-footer> h1{
    color: #fff;
    font-weight: 200;
    font-size: 26px;
}
/* .company-footer> p{
    color: #fff;
    font-weight: 100px;
    font-size: 15px;
    
} */
.company-footer ul li{
    list-style: none;
    color: #fff;
}
.company-footer ul li a{
    text-decoration: none;
    color: #fff;
}