*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* ========================== */
/* Navigation bar section  */
nav{
    align-items: center;
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    background-color: rgb(26, 23, 23);
    
}
.logo{
    text-align: left;
    margin-left: 20px;
    color: white;
    font-size: 30px;
}
.nav-links{
    text-align: center;
    flex: 1;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: white;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #ED661F;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.loginbtn{
    color: #fff;
    margin-right: 70px;
    cursor: pointer;
}
.getButton {
    padding: 12px;
    border: none;
    background-color:#ED661F;
    font-size: 16px;
    font-weight: 600 !important;
    cursor: pointer;
}
.getButton:hover {
    box-shadow: #a6b7c56b 6px 15px 16px 0px; 
}

/* ============================================== */
/* page-one-text section */ 
.header{
    width: 100%;
    background-image: url("../images/image\ 1.png");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.page-one{
    margin: auto;
    display: flex;
    justify-content:space-around;
    margin-top: 8px;
    /* align-items: center; */
}
#cover-image{
    float: right; 
    height: 400px;
    width: 550px;
    margin-top: 20%;
    margin-right: 15%;
    margin-bottom: 50px;
}
.col > h1{
    font-weight: 500;
    font-size: 36px;
    margin-top: 70px;
    margin: auto;
    padding-left: 20%;
    padding-top:30%;

}
.col > p{
/* margin: auto; */
padding-left: 20%;
padding-top: 12px;
font-weight: 300;
font-size: 25px;
} 
.customer-data-section{
    align-self: baseline;
    float: right;
    border: 1px solid rgb(230, 227, 227);
    background: white;
    margin-right: 10%;

}
 .inner-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 16px;

 }
 .customer-data ul li{
     list-style: none;
     display: inline-block;
     padding: 10px 18px;
     
 }
<<<<<<< HEAD
=======
 
/* /* .body-section */
.container{
    width: 80%
    margin:auto;
>>>>>>> gh-pages

}
.column > h1{
        font-weight: 600;
        font-size: 40px;
        margin: auto;
        padding-left: 18%;
        padding-top: 20%;
}

.column > p{
    margin: auto;
    padding-left: 18%;
    padding-top: 12px;
    font-weight: 300;
    font-size: 25px;
} 
.page-button{
    display: inline-block;
    text-decoration: none;
    color:black;
    border:2px solid #ED661F;
    background: #ED661F;
    font-size: 22px;
    margin-top: 30px;
    margin-left: 18%;
    padding: 15px 40px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20%;
}
.page-button:hover{
    border: 1px solid #ED661F;
    background: #fff;
    transition: 1s;
}

/* /* .body-section */
.container{
    width: 90%;
    margin: auto;
}
.page2{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 80px;
    margin: auto;
    /* margin-left: 10%;
    margin-right: 10%; */
}
.page2-text > h1{
    font-size: 400;
}
.u{
    text-decoration: 5px underline solid #ED661F;
}
.page2-text > p {
    font-weight: 200;
    padding-top: 15px;
    font-size: 18px;
}
.img2 > img{
    width: inherit;
    height: inherit;
}
.img2{
    width: 400px;
    height: 300px;
    /* margin-right: 25%; */
}
/* ========================================= */
/* -- Products category section-- */
.popular-products{
    margin: auto;
    padding-top: 50px;
    width: 90%;
    margin-right: 20%;
    
}
#tag-title{
    text-align: left;
    font-weight: 600;
    margin-left: 10%;
    margin-bottom: 14px;
}

.product-category > h1{
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}
.product-on-sale{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}
.product-category > p{ 
    font-size: 16px;
    font-weight: 300px;
    padding: 8px;
    text-align: center;
}
#p{
    text-align: left;
    font-size: 15px;
}
#pro{
    text-align: left;
}
#price-tag{
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}
.product-on-sale > h2 {
    text-align: center;
    font-size: 100;
}

#image1{
    width: 200px;
    height: 200px;
}
#image2{
    width: 200px;
    height: 200px;
}
#image3{
    width: 200px;
    height: 200px;
}
#image4{
    width: 200px;
    height: 200px;
}
.newest-item{
    margin-top: 8px;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    
    
}
#newest{
    text-align: left;
    font-weight: 600;
    margin: auto;
    margin-left: 10%; 
    margin-top: 20px;
    margin-bottom: 18px;

}
#image5{
    width: 200px;
    height: 200px;
}
#image6{
    width: 200px;
    height: 200px;
}
#image7{
    width: 200px;
    height: 200px;
}
#image8{
    width: 200px;
    height: 200px;
}
.see-all-icon{
    text-align: right;
    margin-right: 10%;
    font-size: 28px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 20px;
}
.see-all-icon a{
    text-decoration: none;
    color: black;
}
.see-all-icon a .fa{
    color: #ED661F;
    font-weight: 500;
}
.border-line{
    margin: auto;
    height: 18px;
    width: 90%;
    background-color: rgb(148, 147, 147);
    border: 1px solid white;
    margin-top: 15px;
    margin-bottom: 20px;
}
/* ================================================== */
/* Customer rating section */

.customer-rating{
    width: 80%;
    margin: auto;
    /* text-align: center; */
   
}
.customer-rating > h1{
    font-size: 600;
    margin-top: 15px ;
    margin-bottom: 20px;
    text-align: left;
}
.customer-rating-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.client  img{
    border-radius: 6px;
}

.column2{
    width: 20%;
    margin-bottom: 10px;
    background: #fff3f3;
    padding: 40px;
    cursor: pointer;
    margin-top: 80px;
    

} 
.column2 > p{
    text-align:unset;
    font-size: 23px;
    padding: 20;
}
.client{
    display: flex;
    justify-content: space-between;
}
#i{
width: 50px;
height: 50px;
margin-right: 15px;
margin-top: 15px;
}

.column > h2{
    text-align: right;
}
.column2 .fa{
    color: #ED661F;
    justify-content: center;
    font-size: 36px;
    padding-bottom: 10px;

}

git/* footer-contact section */
/* subscribe-section */
.subscribe-section{
    background: black;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}
.subscribe-header > h1{
    color: #fff;
    font-size: 30;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;

}
.subscribe-header > p{
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 30px;

}
.search{
    width: 200px;
    margin-left: 28%;
    text-align: center;
    display: flex;
}
.srch{
    width: 300px;
    height: 45px;
    background: #fff;
    border: 1px solid #fff3f3;
    font-size: 18px;
    border-right: 0;
    
    
}
.sub-btn{
    width: 200px;
    height: 46px;
    background: #ED661F;
    border: 2px solid #ED661F;
    /* border-bottom: 2px solid #ED661F; */
    font-size: 22px;
    color: #fff;
    margin-bottom: 50px;
    cursor: pointer;

}
.sub-btn:hover{
    box-shadow: #a6b7c56b 6px 15px 16px 0px;

}
.footer-contact{
    background: black;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
.row3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: 16px;
}
.company-logo >h1{
    color: white;
    font-weight: 300;
    font-size: 36px;
    padding-left: 18px;
}
.company-logo > p{
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    padding-left: 18px;
    padding-bottom: 10px;
}
.company-footer> h1{
    color: #fff;
    font-weight: 200;
    padding-top: 16px;
    padding-bottom: 10px;
    font-size: 26px;
}
.company-footer .fa{
    background: #fff;
    padding: 3px;
    margin-left: 20%;
    margin-top: 10px;
    border-radius: 10px; 
}
.company-footer ul li{
    list-style: none;
    color: #fff;
    padding: 4px 4px 4px 4px;
}
.company-footer ul li a{
    text-decoration: none;
    color: #fff;
}
.copyright{
    color: #fff;
    text-align: center;
    font-size: 9px;
    /* font-weight: 100; */
    padding-top: 30px;
    padding-bottom: 40px;
}