*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.body-section{
        min-height: 100vh;
        width: 100%;
        background-image:url("/home/moringa/Documents/AgriPlus/assets/images/image 1.png");
        background-position: center;
        background-size: cover;
        position: relative;
}
nav{
    align-items: center;
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    background-color: rgb(26, 23, 23);
    
}
.logo{
    text-align: left;
    margin-left: 20px;
    color: white;
    font-size: 20px;
}
.nav-links{
    text-align: center;
    flex: 1;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: white;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #ED661F;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.loginbtn{
    color: #fff;
    margin-right: 70px;
}
.getButton {
    padding: 15px;
    border: none;
    background-color:#ED661F;
    font-size: 16px;
    font-weight: 600 !important;
    cursor: pointer;
}
.getButton:hover {
    box-shadow: #a6b7c56b 6px 15px 16px 0px; 
}


/* page-one-text section */
.body-section{
    padding-top: 100px;
    width: 80%;
    margin: auto;
}
.page-one{
    display: flex;
    justify-content: space-between;
}
.page-btn{
    display: inline-block;
    text-decoration: none;
    color:black;
    border:1px solid whitesmoke;
    background: #ED661F;
    margin-top: 30px;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}
.h1{
    font-weight: 600;
    font-size: 38;


}
.page-btn:hover{
    border: 1px solid #ED661F;
    background: #fff;
    transition: 1s;

}
.img1 > img{
    width: inherit;
    height: inherit;
    flex: left;
}
.img1{
    width: 200;
    height: 300
}
.page2{
    display: flex;
    width: 80%;
    justify-content: center;
}
.img2{
    width: 150px;
    height: 200px;
}